body {
    color: #626161;
    font: 400 14px/1.5 ;
	 font-family:"微软雅黑";
}
body, div, dl, dt, dd, del, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, menu {
    margin: 0;
    padding: 0;
}
input[type="text"], textarea {
    outline: 0 none;font-family:"微软雅黑"
}

button {
    outline: 0 none;font-family:"微软雅黑"
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}
ol, ul, li {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
}
q::before, q::after {
    content: "";
}
abbr, acronym {
    border: 0 none;
}
header, section, footer, img {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    color: #626161;
    text-decoration: none;
}
.dn {
    display: none;
}
.vh {
    overflow: hidden;
}
html {
    font-size: 100px;
}
body {
   
    color: #525151;
    font-size: 0.14rem; 
}
@media only screen and (max-width: 310px) and (min-width: 300px) {
body {
    font-size: 10px;
}
}
@media only screen and (max-width: 320px) and (min-width: 310px) {
body {
    font-size: 10px;
}
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
body {
    font-size: 12px;
}
}
@media only screen and (max-width: 360px) and (min-width: 350px) {
body {
    font-size: 12px;
}
}
@media only screen and (max-width: 480px) and (min-width: 360px) {
body {
    font-size: 0.14rem;
}
}
@media only screen and (max-width: 480px) and (min-width: 470px) {
body {
    font-size: 14px;
}
}
@media only screen and (max-width: 560px) and (min-width: 480px) {
body {
    font-size: 16px;
}
}
@media only screen and (max-width: 570px) and (min-width: 560px) {
body {
    font-size: 16px;
}
}
@media only screen and (max-width: 640px) and (min-width: 570px) {
body {
    font-size: 18px;
}
}
@media only screen and (max-width: 640px) and (min-width: 630px) {
body {
    font-size: 18px;
}
}
@media only screen and (max-width: 780px) and (min-width: 640px) {
body {
    font-size: 18px;
}
}
.pt2{ padding-top:0.2rem}
.hr_gray{ width:100%; height:0.2rem; background:#ecebeb; overflow:hidden; margin:0.2rem 0 0 0}
.hr_gra1y{ width:100%; height:0.1rem; background:#ecebeb; overflow:hidden; margin:0.1rem 0 0 0}

.tc{ text-align:center}
.main_img img{ width:100%; float:left}
.main_img { padding-top:0.2rem;}
.banner{ padding-top:0.1rem}
.main_bt h5{ font-size:0.24rem; line-height:0.2rem}
.main_bt p{ font-size:0.12rem; color:#9d9c9c; background:url(../images/awp-index_r7_c9.png) center 5px no-repeat; height:0.2rem; background-size:100%; display:block; width:50%; text-align:center; margin:auto}
.w100{ width:100%}
.ser_list img{ width:100%}
.bg_r1 li{ width:50%; float:left; background:#CA3940; height:0.04rem}
.bg_r1 li:nth-child(2){background:#353535; }
.post-content{ padding-top:0.1rem; padding-bottom:0.1rem; }
.post-content p{font-size:0.16rem; line-height:0.24rem; text-align:left; padding-top:0.1rem }
.post-content h2{ font-size:0.2rem; color:#c63a43; font-weight:bold; line-height:0.3rem}
figure img{ width:100%; padding-top:0.15rem}

.bg_radic{ width:0.3rem; height:0.3rem; background:#C63A43; border-radius:0.6rem; line-height:0.35rem; text-align:center; color:#fff; text-align:center; margin:auto;animation: myfirst 2s;
-moz-animation: myfirst 2s infinite;	/* Firefox */
-webkit-animation: myfirst 2s infinite;	/* Safari 和 Chrome */
-o-animation: myfirst 2s infinite; transition:all 2s}

.describe_r1{ width:100%; text-align:center; line-height:0.35rem; height:0.35rem; border:2px solid #D32F48; color:#D32F48; font-size:0.12rem; border-radius:0.5rem}

.hot_ser li {  padding-left:0px; padding-right:0px; text-align:center; margin:auto; padding-top:0.2rem;}
.hot_ser li p{width:0.7rem;height:0.7rem; background:#ECEBE9; border-radius:10px; line-height:0.2rem; text-align:center; margin:auto}
.hot_ser p img{  text-align:center; margin:auto;  overflow:hidden; width:0.3rem; height:0.3rem}
.hot_ser p a{ padding-top:0.1rem; overflow:hidden; display:block}

.tabClick{ overflow: hidden; width:80%;  text-align:center; margin:auto}
.tabClick li{ height:35px; line-height: 35px; width: 49%; float: left; text-align: center; font-size:0.16rem; margin-right:1%; background:#EBEBEB; border-radius:100px}
.tabClick li.active{ color: #fff; transition: 0.1s; font-weight: bold;height:35px; line-height: 35px;  background:#c63a43;}
.tabCon{ overflow: hidden}
.tabBox{ position: relative}
.tabList{word-break: break-all; width:100%;float:left; }
.lineBorder{ }
.lineDiv{ }

.wrapp{ width:94%; text-align: center; margin:auto; padding-top:0.2rem}


.tabList dl{ width:100%; padding-top:0.20rem; padding-bottom:0.20rem; border-bottom:1px solid #eee; overflow:hidden; clear:both}
.tabList dt { float:left; width:0.4rem; height:0.5rem; background:#C63A43; color:#fff; font-size:0.12rem; border-radius:0.04rem; font-weight:normal}
.tabList dt p{ padding-top:0.05rem; overflow:hidden}
.tabList dt p em{ font-size:0.14rem; font-weight:bold; text-decoration:underline}
.tabList dd{ width:85%; float:right; text-align:left; overflow:hidden}
.tabList dd h5{ text-align:left; font-size:0.16rem; line-height:0.25rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:block; width:90%;}
.tabList dd em{ color:#999998}
.tabList dd p{ height:0.3rem; overflow:hidden; text-align:left; line-height:0.3rem; color:#ababaa;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;width:90%}

.yu_yue{background: url(../images/awp-index_r5_c1.jpg)  ; clear:both; overflow:hidden;
background-attachment: fixed;
background-size: cover ;
width: 100%;
padding-top: 0.15rem ; padding-bottom:0.15rem;  overflow:hidden; z-index:1; position:relative}

.yu_yue h5{ text-align:left; color:#fff; line-height:0.3rem; font-size:0.2rem}
.yu_yue h5 em{ font-size:0.12rem}
.btn-default_bg{ background:#C63A43; color:#fff}
.con_add{ position:relative; margin-top:-0.2rem; z-index:5}
.con_add ul{ padding-top:0.2rem}
.con_add li{ text-align:left; font-weight:normal; padding-top:0.15rem}
.con_add li img{ float:left; margin-right:0.1rem}

.qq { width:0.7rem; height:0.7rem; background:#fff; overflow:hidden; position:relative; z-index:2; text-align:center; margin:auto; border-radius:100px;  border:2px solid #eee;}
.qq  img{ text-align:center; margin:auto; padding-top:0.15rem}
.copy_bg{ background:#323232; padding-top:0.4rem; padding-bottom:0.2rem; color:#fff; line-height:0.24rem; color:#fff; font-size:0.14rem; text-align:center; position:relative; z-index:1; margin-top:-0.3rem} 


.top_p{ text-align:center; font-size:0.24rem; color:#c63a43}
.top_p .col-xs-11{text-align:center; line-height:0.4rem}
.top_p a{ padding-top:0.06rem; padding-left:0.02%; display:block}
.top_p .col-xs-11{  overflow: hidden; text-align:left; padding-left:30%}
.img_ad { width:100%}
.img_ad img{width:100%}
.h5_cor{ font-size:0.2rem; color:#c63a43; text-align:left; line-height:0.3rem; padding-top:0.1rem; overflow:hidden; clear:both; padding-bottom:0.1rem}
.h5_cor em{ width:0.15rem; height:0.15rem; background:#c63a43; border-radius:0.5rem; float:left; margin-right:0.1rem; margin-top:0.07rem}
.ys_r1 li{ text-align:center; border-right:1px solid #eee;}
.ys_r1 li:last-child{border-right:none}
.ys_r1 li em{ font-size:0.22rem; color:#F04905}

.about_p p{ padding-bottom:0.1rem}
.about_p p strong{ font-size:0.2rem; color:#c63a43}


.mubiao_bg{ background:url(../images/aa_r2_c2.jpg) left 0px no-repeat; padding-top:0.2rem; padding-bottom:0.2rem; background-size:100%; overflow:hidden}

.bg_mb{ background:#C63A43; color:#fff; float:right; padding:20px ; margin:0.2rem 0; overflow:hidden}
.bg_mb p{ text-align:left; line-height:0.2rem}

.jr_us{ padding:0.1rem }

.fg_pest dl{ width:100%; border-bottom:1px solid #eee; padding:0.2rem 0; clear:both}
.fg_pest dl dt{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden; line-height:0.25rem; text-align:left; font-size:0.16rem}
.fg_pest dl dd{ color:#8a8989; padding-top:0.1rem}
.fg_pest dl dd p{ height:0.4rem; overflow:hidden}

.jion dl{width:100%; border-bottom:1px solid #eee; padding:0.2rem 0; clear:both}
.jion dl dt{ width:100%}
.jion dl dt strong{ float:left; font-size:0.16rem}
.jion dl dt time{ font-size:0.12rem; color:#807f7f; float:right; font-weight:normal}
.jion dl dd{width:100%; clear:both; padding-top:0.1rem; line-height:0.3rem; color:#807f7f;}
.jion dl dd em{ color:#f8370a}
.pest_nav li{ text-align:center; line-height:0.4rem ; height:0.4rem; font-size:0.18rem; padding:0}
.pest_nav li a.nav_news{ color:#cb3745; border-bottom:1px solid #cb3745; height:0.4rem; width:100%; display:block}
.pest_nav{}

.pest_ser dl{ width:100%; clear:both; padding-top:0.2rem; border-bottom:#eee 3px solid; padding-bottom:0.2rem; overflow:hidden}
.pest_ser dl dt img{ width:100%}
.pest_ser dl h5{ line-height:0.5rem; font-size:0.2rem; text-align:center;}
.pest_ser dl  p{ color:#737272}

.lianx_con p{ font-size:0.20rem; line-height:0.25rem}
.lianx_con em{ color:#9c9c9c}
.er_m li{ float:left; margin-right:0.1rem; width:40%}
.er_m li p{ width:100%}
.er_m li p img{width:100%}
.er_m li h5{width:100%; text-align:left; line-height:0.3rem}
.er_m li h5 img{ float:left; margin-right:0.1rem}
.pest_in{ background:#eee; border:none}
.pest_inn{ background:#eee; border:none}
.liuyan label{ color:#666; font-weight:normal}
.btn-default11{ background:#D3374D; border-radius:0.2rem; height:0.4rem; line-height:0.3rem; border:none; color:#fff; text-align:center; width:100%}

.x_inf{ width:100%; padding-top:15px; overflow:hidden; padding-bottom:15px;  }
 .x_inf h5{ font-size:18px; text-align:center}
 .x_inf ol{ color:#999; line-height:20px; height:20px;font-size:12px;text-align:center; margin:auto; width:100%; display:block; border-bottom:1px dashed #ccc; padding-bottom:0.25rem; overflow:hidden}
.x_inf p{ padding:6px 0px; text-align:left; line-height:28px; font-size:14px; text-indent:2em; color:#515152}
.x_inf p span{ color:#515152;; clear:both; line-height:23px;}
.x_inf p img{ text-align:center; margin:auto; display:block; max-width: 100%; }
.x_inf ol{ padding-top:10px; overflow:hidden}
.pf{ width:100%; text-align:center; margin:auto; padding-top:0.1rem; clear:both; overflow:hidden}
.pf li{ line-height:0.3rem; text-align:left}




@keyframes myfirst
{
from   { margin-top:5px;}
to  { margin-bottom:5px}
}

@-moz-keyframes myfirst /* Firefox */
{
from   { margin-top:5px;}
to  { margin-bottom:5px}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from   { margin-top:5px;}
to  { margin-bottom:5px}
}

@-o-keyframes myfirst /* Opera */
{
from   { margin-top:5px;}
to  { margin-bottom:5px}
}

